<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.c196.termtracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TermTracker">
        <receiver
            android:name=".utilities.MyReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name=".activities.NoteListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.CourseActivity" />
        <activity
            android:name=".activities.AddEditNoteActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.NoteListActivity" />
        <activity
            android:name=".activities.NoteActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.NoteListActivity" />
        <activity
            android:name=".activities.MentorActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MentorListActivity" />
        <activity
            android:name=".activities.AddEditMentorActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MentorListActivity" />
        <activity
            android:name=".activities.AddEditAssessmentActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.AssessmentActivity" />
        <activity
            android:name=".activities.AddEditCourseActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.CourseActivity" />
        <activity
            android:name=".activities.MentorListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.AddEditCourseActivity" />
        <activity
            android:name=".activities.AssessmentActivity"
            android:label="Assessments"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.CourseActivity" />
        <activity
            android:name=".activities.CourseActivity"
            android:label="Courses"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.TermActivity" />
        <activity
            android:name=".activities.TermListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.AddEditTermActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.TermActivity" />
        <activity
            android:name=".activities.TermActivity"
            android:label="Terms"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.TermListActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>